# Feature Engineering

In [1]:
DATA_PATH = r'..\data\processed\02-Cleaned_data.csv'
OUTPUT_DATA_PATH = r'..\data\processed\03-final_data.csv'
OUTPUT_DATA_PATH_pickle = r'..\data\processed\03-final_data.pkl'

In [2]:
# Functions

## Importing

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
# Set the maximum number of rows and columns to display
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv(DATA_PATH)

In [5]:
df.head()

,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,Country,EdLevel,YearsCode,YearsCodePro,DevType
0,HTML/CSS;JavaScript;Python,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Supabase,Amazon Web Services (AWS);Netlify;Vercel,Next.js;React;Remix;Vue.js,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18.0,9.0,"Senior Executive (C-Suite, VP, etc.)"
1,Bash/Shell (all shells);Go,Haskell;OCaml;Rust,Don't have,Amazon Web Services (AWS);Google Cloud;OpenSta...,Don't have,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27.0,23.0,"Developer, back-end"
2,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,PostgreSQL;Redis,Cloudflare;Heroku,Node.js;React;Ruby on Rails;Vue.js;WordPress,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12.0,7.0,"Developer, front-end"
3,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Express;Gatsby;NestJS;Next.js;Node.js;React,Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6.0,4.0,"Developer, full-stack"
4,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,Go;Rust,BigQuery;Cloud Firestore;PostgreSQL;Redis,Amazon Web Services (AWS);Cloudflare;Google Cloud,Angular;Express;NestJS;Node.js,United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21.0,21.0,"Developer, back-end"

In [6]:
df.iloc[0]

LanguageHaveWorkedWith                           HTML/CSS;JavaScript;Python
LanguageWantToWorkWith    Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...
DatabaseHaveWorkedWith                                             Supabase
PlatformHaveWorkedWith             Amazon Web Services (AWS);Netlify;Vercel
WebframeHaveWorkedWith                           Next.js;React;Remix;Vue.js
Country                                            United States of America
EdLevel                        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
YearsCode                                                              18.0
YearsCodePro                                                            9.0
DevType                                Senior Executive (C-Suite, VP, etc.)
Name: 0, dtype: object

There are multiple answers in the some row so we want to convert it to list

## -Convert multiple answers to list

In [7]:
text = 'HTML/CSS;JavaScript;Python'

In [8]:
text.split(';')

['HTML/CSS', 'JavaScript', 'Python']

In [9]:
columns_to_split = ['LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
                    'DatabaseHaveWorkedWith', 'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith']

# Apply str.split(';') to each specified column
for column in columns_to_split:
    df[column] = df[column].str.split(';')

In [10]:
df.head()

,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,Country,EdLevel,YearsCode,YearsCodePro,DevType
0,"[HTML/CSS, JavaScript, Python]","[Bash/Shell (all shells), C#, Dart, Elixir, GD...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18.0,9.0,"Senior Executive (C-Suite, VP, etc.)"
1,"[Bash/Shell (all shells), Go]","[Haskell, OCaml, Rust]",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27.0,23.0,"Developer, back-end"
2,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Bash/Shell (all shells), HTML/CSS, JavaScript...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12.0,7.0,"Developer, front-end"
3,"[HTML/CSS, JavaScript, TypeScript]","[HTML/CSS, JavaScript, Python, Rust, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6.0,4.0,"Developer, full-stack"
4,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Go, Rust]","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21.0,21.0,"Developer, back-end"

In [11]:
type(df['LanguageHaveWorkedWith'].iloc[0])

list

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67121 entries, 0 to 67120
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   LanguageHaveWorkedWith  67121 non-null  object
 1   LanguageWantToWorkWith  67121 non-null  object
 2   DatabaseHaveWorkedWith  67121 non-null  object
 3   PlatformHaveWorkedWith  67121 non-null  object
 4   WebframeHaveWorkedWith  67121 non-null  object
 5   Country                 67121 non-null  object
 6   EdLevel                 67121 non-null  object
 7   YearsCode               67121 non-null  float64
 8   YearsCodePro            67121 non-null  float64
 9   DevType                 67121 non-null  object
dtypes: float64(2), object(8)
memory usage: 5.1+ MB

## -Merge LanguageHaveWorkedWith with LanguageWantToWorkWith and remove duplicate skills

In [13]:
df[df['DevType'] == 'Data scientist or machine learning specialist'].sample().iloc[0]

LanguageHaveWorkedWith                           [Julia, MATLAB, Python]
LanguageWantToWorkWith                     [Haskell, Python, TypeScript]
DatabaseHaveWorkedWith                                  [DuckDB, SQLite]
PlatformHaveWorkedWith                                      [Don't have]
WebframeHaveWorkedWith                                  [FastAPI, Flask]
Country                                                          Germany
EdLevel                   Professional degree (JD, MD, Ph.D, Ed.D, etc.)
YearsCode                                                           13.0
YearsCodePro                                                         3.0
DevType                    Data scientist or machine learning specialist
Name: 434, dtype: object

In [14]:
x = ['HTML/CSS', 'Python', 'Swift', 'TypeScript']
y = ['HTML/CSS', 'Python', 'TypeScript']

In [15]:
list(set(x + y))

['TypeScript', 'HTML/CSS', 'Swift', 'Python']

In [16]:
df.apply(lambda row: list(
    set(row['LanguageHaveWorkedWith'] + row['LanguageWantToWorkWith'])), axis=1)

0        [GDScript, Bash/Shell (all shells), Rust, Java...
1        [Go, Rust, OCaml, Haskell, Bash/Shell (all she...
2        [Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...
3         [Rust, JavaScript, Python, HTML/CSS, TypeScript]
4        [Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...
                               ...
67116                     [Dart, JavaScript, Kotlin, Java]
67117    [Bash/Shell (all shells), PowerShell, Cobol, J...
67118                 [JavaScript, TypeScript, Go, Python]
67119    [C, Go, JavaScript, Java, HTML/CSS, SQL, TypeS...
67120                [Go, JavaScript, SQL, TypeScript, C#]
Length: 67121, dtype: object

In [17]:
# Assuming df is your DataFrame
df['Key_languages'] = df.apply(lambda row: list(
    set(row['LanguageHaveWorkedWith'] + row['LanguageWantToWorkWith'])), axis=1)

In [18]:
df.head()

,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,Country,EdLevel,YearsCode,YearsCodePro,DevType,Key_languages
0,"[HTML/CSS, JavaScript, Python]","[Bash/Shell (all shells), C#, Dart, Elixir, GD...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18.0,9.0,"Senior Executive (C-Suite, VP, etc.)","[GDScript, Bash/Shell (all shells), Rust, Java..."
1,"[Bash/Shell (all shells), Go]","[Haskell, OCaml, Rust]",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27.0,23.0,"Developer, back-end","[Go, Rust, OCaml, Haskell, Bash/Shell (all she..."
2,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Bash/Shell (all shells), HTML/CSS, JavaScript...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12.0,7.0,"Developer, front-end","[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/..."
3,"[HTML/CSS, JavaScript, TypeScript]","[HTML/CSS, JavaScript, Python, Rust, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6.0,4.0,"Developer, full-stack","[Rust, JavaScript, Python, HTML/CSS, TypeScript]"
4,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Go, Rust]","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21.0,21.0,"Developer, back-end","[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ..."

In [19]:
df[df['DevType'] == 'Data scientist or machine learning specialist'].sample().iloc[0]

LanguageHaveWorkedWith    [Bash/Shell (all shells), HTML/CSS, Python, R,...
LanguageWantToWorkWith                   [Java, JavaScript, Python, R, SQL]
DatabaseHaveWorkedWith    [BigQuery, Firebase Realtime Database, Microso...
PlatformHaveWorkedWith    [Amazon Web Services (AWS), Firebase, Google C...
WebframeHaveWorkedWith                                              [Flask]
Country                                                               Spain
EdLevel                      Professional degree (JD, MD, Ph.D, Ed.D, etc.)
YearsCode                                                               6.0
YearsCodePro                                                            5.0
DevType                       Data scientist or machine learning specialist
Key_languages             [JavaScript, Java, R, Python, SQL, HTML/CSS, B...
Name: 18087, dtype: object

In [20]:
df.drop(['LanguageHaveWorkedWith', 'LanguageWantToWorkWith'], axis=1, inplace=True)

## -Rename columns

In [21]:
df.head()

,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,Country,EdLevel,YearsCode,YearsCodePro,DevType,Key_languages
0,[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18.0,9.0,"Senior Executive (C-Suite, VP, etc.)","[GDScript, Bash/Shell (all shells), Rust, Java..."
1,[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27.0,23.0,"Developer, back-end","[Go, Rust, OCaml, Haskell, Bash/Shell (all she..."
2,"[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12.0,7.0,"Developer, front-end","[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/..."
3,"[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6.0,4.0,"Developer, full-stack","[Rust, JavaScript, Python, HTML/CSS, TypeScript]"
4,"[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21.0,21.0,"Developer, back-end","[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ..."

In [22]:
df = df.rename(columns={'DatabaseHaveWorkedWith': 'Databases', 'PlatformHaveWorkedWith': 'Platforms', 'WebframeHaveWorkedWith': 'Web_frames',
                        'YearsCode': 'Total_years', 'YearsCodePro': 'experanse_years'})

In [23]:
df.columns

Index(['Databases', 'Platforms', 'Web_frames', 'Country', 'EdLevel',
       'Total_years', 'experanse_years', 'DevType', 'Key_languages'],
      dtype='object')

In [24]:
df = df[['Key_languages', 'Databases', 'Platforms', 'Web_frames', 'Country', 'EdLevel',
         'experanse_years', 'Total_years', 'DevType']]

In [25]:
df.head()

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,Total_years,DevType
0,"[GDScript, Bash/Shell (all shells), Rust, Java...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9.0,18.0,"Senior Executive (C-Suite, VP, etc.)"
1,"[Go, Rust, OCaml, Haskell, Bash/Shell (all she...",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",23.0,27.0,"Developer, back-end"
2,"[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",7.0,12.0,"Developer, front-end"
3,"[Rust, JavaScript, Python, HTML/CSS, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",4.0,6.0,"Developer, full-stack"
4,"[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some college/university study without earning ...,21.0,21.0,"Developer, back-end"

## -map the values in the "EdLevel" column to simpler names

In [26]:
df['EdLevel'].value_counts()

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          30989
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       18400
Some college/university study without earning a degree                                 7777
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         3461
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     3216
Associate degree (A.A., A.S., etc.)                                                    2129
Something else                                                                          771
Primary/elementary school                                                               378
Name: EdLevel, dtype: int64

In [27]:
# Mapping dictionary
ed_level_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor\'s',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master\'s',
    'Some college/university study without earning a degree': 'Some College/University',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'Secondary School',
    'Associate degree (A.A., A.S., etc.)': 'Associate',
    'Something else': 'Other',
    'Primary/elementary school': 'Primary/Elementary'
}

# Map the values in the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].map(ed_level_mapping)

In [28]:
df.head()

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,Total_years,DevType
0,"[GDScript, Bash/Shell (all shells), Rust, Java...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,Bachelor's,9.0,18.0,"Senior Executive (C-Suite, VP, etc.)"
1,"[Go, Rust, OCaml, Haskell, Bash/Shell (all she...",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,Bachelor's,23.0,27.0,"Developer, back-end"
2,"[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,Bachelor's,7.0,12.0,"Developer, front-end"
3,"[Rust, JavaScript, Python, HTML/CSS, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,Bachelor's,4.0,6.0,"Developer, full-stack"
4,"[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some College/University,21.0,21.0,"Developer, back-end"

## - map the values in the 'DevType' column to simpler names

In [29]:
df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional',
       'Research & Development role', 'Other (please specify):',
       'Developer, mobile', 'Database administrator',
       'Developer, embedded applications or devices', 'Engineer, data',
       'Hardware Engineer', 'Product manager', 'Academic researcher',
       'Developer, game or graphics', 'Cloud infrastructure engineer',
       'Student', 'Developer Experience', 'Engineering manager',
       'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Educator', 'Scientist', 'Marketing or sales professional'],
      dtype=object)

In [30]:
# Sample mapping dictionary
devtype_mapping = {
    'Senior Executive (C-Suite, VP, etc.)': 'Executive',
    'Developer, back-end': 'Back-end Developer',
    'Developer, front-end': 'Front-end Developer',
    'Developer, full-stack': 'Full-stack Developer',
    'System administrator': 'System Administrator',
    'Developer, desktop or enterprise applications': 'Desktop/Enterprise Developer',
    'Developer, QA or test': 'QA/Test Developer',
    'Designer': 'Designer',
    'Data scientist or machine learning specialist': 'Data Scientist/ML Specialist',
    'Data or business analyst': 'Data/Business Analyst',
    'Security professional': 'Security Professional',
    'Research & Development role': 'R&D Developer',
    'Other (please specify):': 'Other',
    'Developer, mobile': 'Mobile Developer',
    'Database administrator': 'Database Administrator',
    'Developer, embedded applications or devices': 'Embedded Developer',
    'Engineer, data': 'Data Engineer',
    'Hardware Engineer': 'Hardware Engineer',
    'Product manager': 'Product Manager',
    'Academic researcher': 'Academic Researcher',
    'Developer, game or graphics': 'Game/Graphics Developer',
    'Cloud infrastructure engineer': 'Cloud Infrastructure Engineer',
    'Student': 'Student',
    'Developer Experience': 'Developer Experience',
    'Engineering manager': 'Engineering Manager',
    'Project manager': 'Project Manager',
    'DevOps specialist': 'DevOps Specialist',
    'Engineer, site reliability': 'Site Reliability Engineer',
    'Blockchain': 'Blockchain Developer',
    'Developer Advocate': 'Developer Advocate',
    'Educator': 'Educator',
    'Scientist': 'Scientist',
    'Marketing or sales professional': 'Marketing/Sales Professional',
}

# Apply the mapping to the 'DevType' column
df['DevType'] = df['DevType'].map(devtype_mapping)

In [31]:
# df = df[~(df['DevType'] =='Other')]

In [32]:
df[(df['DevType'] == 'Other')]

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,Total_years,DevType
45,"[Bash/Shell (all shells), Perl, Python]",[Don't have],[Don't have],[Don't have],Finland,Master's,1.0,6.0,Other
90,[Python],"[MongoDB, PostgreSQL]",[Don't have],[Don't have],Hungary,Master's,4.0,5.0,Other
112,"[PowerShell, JavaScript, SQL, HTML/CSS, C#]",[Microsoft SQL Server],[Microsoft Azure],"[ASP.NET, ASP.NET CORE, jQuery]",Serbia,Master's,16.0,20.0,Other
141,"[JavaScript, Go, Rust, Python]","[Dynamodb, PostgreSQL]",[Amazon Web Services (AWS)],[React],United Kingdom of Great Britain and Northern I...,Bachelor's,12.0,16.0,Other
153,"[Go, Lisp, Java, Swift, PHP, Assembly, JavaScr...","[MariaDB, MySQL, Oracle]",[Amazon Web Services (AWS)],[Don't have],Canada,Master's,50.0,51.0,Other
...,...,...,...,...,...,...,...,...,...
67046,"[Go, Ruby, Rust, JavaScript, Kotlin, Elixir, J...","[Dynamodb, H2, MySQL, PostgreSQL, SQLite]","[Amazon Web Services (AWS), Cloudflare, Heroku...","[Spring Boot, Svelte]",Canada,Bachelor's,25.0,35.0,Other
67052,"[MATLAB, Python, C++]",[Don't have],[Amazon Web Services (AWS)],[Don't have],Israel,Master's,12.0,15.0,Other
67085,"[Go, JavaScript, Java, HTML/CSS, Bash/Shell (a...","[MongoDB, Oracle]",[Microsoft Azure],[React],Kenya,Bachelor's,37.0,42.0,Other
67086,"[Go, Rust, JavaScript, Python, C++, Bash/Shell...","[MongoDB, Redis]","[Amazon Web Services (AWS), VMware]","[Angular, AngularJS, Flask, Node.js]",United States of America,Master's,12.0,13.0,Other
67111,"[F#, JavaScript, TypeScript, SQL, HTML/CSS, C#]",[Microsoft SQL Server],[Microsoft Azure],"[ASP.NET, ASP.NET CORE, Blazor, React]",France,Master's,9.0,18.0,Other

In [33]:
df.head()

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,Total_years,DevType
0,"[GDScript, Bash/Shell (all shells), Rust, Java...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,Bachelor's,9.0,18.0,Executive
1,"[Go, Rust, OCaml, Haskell, Bash/Shell (all she...",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,Bachelor's,23.0,27.0,Back-end Developer
2,"[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,Bachelor's,7.0,12.0,Front-end Developer
3,"[Rust, JavaScript, Python, HTML/CSS, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,Bachelor's,4.0,6.0,Full-stack Developer
4,"[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some College/University,21.0,21.0,Back-end Developer

## -Make new column (learning years)

In [34]:
df['learning_years'] = df['Total_years'] - df['experanse_years']

In [35]:
df.head()

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,Total_years,DevType,learning_years
0,"[GDScript, Bash/Shell (all shells), Rust, Java...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,Bachelor's,9.0,18.0,Executive,9.0
1,"[Go, Rust, OCaml, Haskell, Bash/Shell (all she...",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,Bachelor's,23.0,27.0,Back-end Developer,4.0
2,"[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,Bachelor's,7.0,12.0,Front-end Developer,5.0
3,"[Rust, JavaScript, Python, HTML/CSS, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,Bachelor's,4.0,6.0,Full-stack Developer,2.0
4,"[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some College/University,21.0,21.0,Back-end Developer,0.0

In [36]:
df = df[['Key_languages', 'Databases', 'Platforms', 'Web_frames', 'Country', 'EdLevel',
         'experanse_years', 'learning_years', 'Total_years', 'DevType']]

In [37]:
df

,Key_languages,Databases,Platforms,Web_frames,Country,EdLevel,experanse_years,learning_years,Total_years,DevType
0,"[GDScript, Bash/Shell (all shells), Rust, Java...",[Supabase],"[Amazon Web Services (AWS), Netlify, Vercel]","[Next.js, React, Remix, Vue.js]",United States of America,Bachelor's,9.0,9.0,18.0,Executive
1,"[Go, Rust, OCaml, Haskell, Bash/Shell (all she...",[Don't have],"[Amazon Web Services (AWS), Google Cloud, Open...",[Don't have],United States of America,Bachelor's,23.0,4.0,27.0,Back-end Developer
2,"[Ruby, JavaScript, TypeScript, SQL, PHP, HTML/...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",United States of America,Bachelor's,7.0,5.0,12.0,Front-end Developer
3,"[Rust, JavaScript, Python, HTML/CSS, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",Philippines,Bachelor's,4.0,2.0,6.0,Full-stack Developer
4,"[Go, Ruby, Rust, JavaScript, TypeScript, SQL, ...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",United Kingdom of Great Britain and Northern I...,Some College/University,21.0,0.0,21.0,Back-end Developer
...,...,...,...,...,...,...,...,...,...,...
67116,"[Dart, JavaScript, Kotlin, Java]","[H2, MongoDB, MySQL, SQLite]",[VMware],[Spring Boot],United States of America,Bachelor's,8.0,2.0,10.0,Mobile Developer
67117,"[Bash/Shell (all shells), PowerShell, Cobol, J...","[Firebird, IBM DB2, MariaDB, Microsoft Access,...","[Digital Ocean, Microsoft Azure, OpenShift, VM...","[AngularJS, ASP.NET, CodeIgniter, Drupal, jQue...",Mexico,Master's,11.0,6.0,17.0,Full-stack Developer
67118,"[JavaScript, TypeScript, Go, Python]",[Dynamodb],[Amazon Web Services (AWS)],"[Express, Node.js, Spring Boot]",United States of America,Bachelor's,22.0,3.0,25.0,Full-stack Developer
67119,"[C, Go, JavaScript, Java, HTML/CSS, SQL, TypeS...","[MongoDB, MySQL, PostgreSQL, SQLite]","[Digital Ocean, Firebase, Google Cloud, Heroku...","[Angular, AngularJS, Express, jQuery, Node.js,...",Brazil,Associate,5.0,15.0,20.0,Front-end Developer
67120,"[Go, JavaScript, SQL, TypeScript, C#]","[Microsoft SQL Server, Redis, SQLite]",[Hetzner],"[Angular, ASP.NET, ASP.NET CORE, Blazor, Node.js]","Iran, Islamic Republic of...",Bachelor's,12.0,5.0,17.0,Full-stack Developer

# The data is ready to analysis now

---

In [38]:
df.to_csv(OUTPUT_DATA_PATH, index=False)

In [39]:
df.to_pickle(OUTPUT_DATA_PATH_pickle)

we save as pickle file to keep all data type the same